<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="core.sys.dao.CataLogMapper">
	<resultMap id="BaseResultMap" type="core.sys.entity.CataLog">
		<id column="id" jdbcType="CHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="mch_id" jdbcType="CHAR" property="mchId" />
		<result column="sort" jdbcType="VARCHAR" property="sort" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="create_time" jdbcType="VARCHAR"
			property="createTime" />
		<result column="create_user" jdbcType="VARCHAR"
			property="createUser" />
		<result column="modify_time" jdbcType="VARCHAR"
			property="modifyTime" />
		<result column="modify_user" jdbcType="VARCHAR"
			property="modifyUser" />
		<result column="is_enable" jdbcType="BIT" property="isEnable" />
		<result column="is_del" jdbcType="BIT" property="isDel" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
		type="core.sys.entity.CataLog">
		<result column="image" jdbcType="BINARY" property="image" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, mch_id, sort, remark, create_time, create_user, modify_time,
		modify_user,
		is_enable, is_del
	</sql>
	<sql id="Base_Select_List">
		id, name, mch_id, sort, remark
	</sql>
	<sql id="Blob_Column_List">
		image
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from tb_catalog
		where id = #{id,jdbcType=CHAR}
	</select>
	<select id="selectCataLogByMchIdShow"
		parameterType="java.lang.String"
		resultType="com.alibaba.fastjson.JSONObject">
		select
		<include refid="Blob_Column_List" />
		,
		<include refid="Base_Select_List" />
		from tb_catalog
		where mch_id = #{mchId,jdbcType=CHAR}
		and is_enable = 0 and is_del = 0
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tb_catalog
		where id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="core.sys.entity.CataLog">
		insert into tb_catalog (id, name, mch_id, sort,
		remark, create_time, create_user,
		modify_time, modify_user, is_enable,
		is_del, image)
		values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},
		#{mchId,jdbcType=CHAR}, #{sort,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},
		#{createUser,jdbcType=VARCHAR},
		#{modifyTime,jdbcType=VARCHAR}, #{modifyUser,jdbcType=VARCHAR}, #{isEnable,jdbcType=BIT},
		#{isDel,jdbcType=BIT}, #{image,jdbcType=BINARY})
	</insert>
	<insert id="insertSelective"
		parameterType="core.sys.entity.CataLog">
		insert into tb_catalog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="mchId != null">
				mch_id,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="modifyUser != null">
				modify_user,
			</if>
			<if test="isEnable != null">
				is_enable,
			</if>
			<if test="isDel != null">
				is_del,
			</if>
			<if test="image != null">
				image,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="mchId != null">
				#{mchId,jdbcType=CHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=VARCHAR},
			</if>
			<if test="modifyUser != null">
				#{modifyUser,jdbcType=VARCHAR},
			</if>
			<if test="isEnable != null">
				#{isEnable,jdbcType=BIT},
			</if>
			<if test="isDel != null">
				#{isDel,jdbcType=BIT},
			</if>
			<if test="image != null">
				#{image,jdbcType=BINARY},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="core.sys.entity.CataLog">
		update tb_catalog
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="mchId != null">
				mch_id = #{mchId,jdbcType=CHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=VARCHAR},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=VARCHAR},
			</if>
			<if test="modifyUser != null">
				modify_user = #{modifyUser,jdbcType=VARCHAR},
			</if>
			<if test="isEnable != null">
				is_enable = #{isEnable,jdbcType=BIT},
			</if>
			<if test="isDel != null">
				is_del = #{isDel,jdbcType=BIT},
			</if>
			<if test="image != null">
				image = #{image,jdbcType=BINARY},
			</if>
		</set>
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="core.sys.entity.CataLog">
		update tb_catalog
		set name = #{name,jdbcType=VARCHAR},
		mch_id = #{mchId,jdbcType=CHAR},
		sort = #{sort,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR},
		create_user = #{createUser,jdbcType=VARCHAR},
		modify_time = #{modifyTime,jdbcType=VARCHAR},
		modify_user = #{modifyUser,jdbcType=VARCHAR},
		is_enable = #{isEnable,jdbcType=BIT},
		is_del = #{isDel,jdbcType=BIT},
		image = #{image,jdbcType=BINARY}
		where id = #{id,jdbcType=CHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="core.sys.entity.CataLog">
		update tb_catalog
		set name = #{name,jdbcType=VARCHAR},
		mch_id = #{mchId,jdbcType=CHAR},
		sort = #{sort,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=VARCHAR},
		create_user = #{createUser,jdbcType=VARCHAR},
		modify_time = #{modifyTime,jdbcType=VARCHAR},
		modify_user = #{modifyUser,jdbcType=VARCHAR},
		is_enable = #{isEnable,jdbcType=BIT},
		is_del = #{isDel,jdbcType=BIT}
		where id = #{id,jdbcType=CHAR}
	</update>
</mapper>